html
li{
    list-style-type: none;
    text-align: left;
    padding-left: 0;
    display: inline-block;
};
.panel-body{
    text-align: "left";
};
#sample-metadata{
    text-align: "left";
    padding-left:0px;
    margin-left:0px

}